In [1]:
# Trained all the models, let's select the one we'll use for the application. 
# Need to get the performance metrics generated in every model:

import pickle
import pandas as pd

In [2]:
path_pickles = ""

list_pickles = [
    "df_models_svc.pickle",   #SVM
    "df_models_knnc.pickle",  #KNN
    "df_models_mnbc.pickle"  #NB
]

df_summary = pd.DataFrame()

for pickle_ in list_pickles:
    
    path = path_pickles + pickle_
    
    with open(path, 'rb') as data:
        df = pickle.load(data)

    df_summary = df_summary.append(df)

df_summary = df_summary.reset_index().drop('index', axis=1)

In [3]:
df_summary

                     Model  Training Set Accuracy  Test Set Accuracy
0                      SVM               0.853081           0.630332
1                      KNN               0.710900           0.559242
2  Multinomial Na誰ve Bayes               0.662322           0.511848

In [4]:
# Sort by Test Set Accuracy
df_summary.sort_values('Test Set Accuracy', ascending=False)

                     Model  Training Set Accuracy  Test Set Accuracy
0                      SVM               0.853081           0.630332
1                      KNN               0.710900           0.559242
2  Multinomial Na誰ve Bayes               0.662322           0.511848

In [ ]:
# Based on the three classifier models, the SVM model is the highest in accuracy when tested. 
# However, the FastText model was chosen the best among them because the FastText model supports efficient word embeddings.